name: Create release

on:
 push:
    branches:
      - master

jobs:
  changes:
    name: "Create changelog and tag"
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    outputs:
      skipped: ${{ steps.changelog.outputs.skipped }}
      clean_changelog: ${{ steps.changelog.outputs.clean_changelog }}
      tag: ${{ steps.changelog.outputs.tag }}

    steps:
    - name: checkout
      uses: actions/checkout@v2
      id: checkout

    - name: Conventional Changelog Action
      id: changelog
      uses: TriPSs/conventional-changelog-action@v3
      with:
        github-token: ${{ secrets.github_token }}
        output-file: "false"
        skip-version-file:   "true"
        skip-commit: "true"

  release:
    name: "Create release"
    if: ${{ needs.changes.outputs.skipped == 'false' }} 
    needs: changes
    
    runs-on: ubuntu-latest

    steps:      
    - name: Create Release
      id: release
      uses: actions/create-release@v1      
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}
      with:
        tag_name: ${{ needs.changes.outputs.tag }}
        release_name: ${{ needs.changes.outputs.tag }}
        body: ${{ needs.changes.outputs.clean_changelog }} 

  publish:
    name: "Publish at PyPi"
    needs: changes
    if: ${{ needs.changes.outputs.skipped == 'false' }} 
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2
      id: checkout
      with:
        ref: ${{ needs.changes.outputs.tag }}

    - name: Prepare python for publish
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine

    - name: Set version
      env:
        VERSION: ${{ needs.changes.outputs.tag }}
      run: echo "VERSION = '${VERSION##v}'" > tion_btle/const.py

    - name: Build
      run: python setup.py sdist bdist_wheel

    - name: Publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: twine upload dist/*
